.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-bg);
}
.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  margin-top: 2rem;

}
.skills__content-title {
  margin-bottom: 28px;
}

.skills__content-title h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: var(--color-mark-subtext);
}

.skills__content-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.skills__content-tech__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}

@media screen and (max-width:1040px) {
  .skills__content {
    margin-top: 6rem;
  }
  
}


@media screen and (max-width:900px) {
  .row {
    margin:0rem 0.5rem;
  }
  
}


@media screen and (max-width:380px) {
  .skills {
    width: 360px;
    margin:0rem 0rem;
    padding: 0;
  }
  
}