.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}

.title {
  margin: 2rem 0rem;
}
.title h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;

  color: var(--color-mark-subtext);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subtitle h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  text-align: center;

  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-content{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1040px) {
  .top {
    margin-top: 8rem;
  }

  .content {
    margin: 0rem 0rem;
    padding: 0rem 0rem;
  }
}

@media screen and (max-width:380px) {
  .projects-content {
    width: 360px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 ;
  }
}
@media screen and (max-width:360px) {
  .projects-content {
    width: 360px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 ;
  }
}

