.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.5rem;
  padding: 1rem;
  width: 500px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-bg);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;   
}

.gallery-container-image {
  margin-bottom: 1rem;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

}

.gImage {
  width: 100%;
  height: 100%;
  max-height: 500px;
  transition: transform 0.5s ease-in-out;
}

.gallery-container-image:hover .gImage {
  transform: scale(1.1);
}
.gallery-container-content {
  margin: 1rem;
  padding: 1rem;
}

.gallery-container-content-heading,
.gallery-container-content-info {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.gallery-container-content-heading {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: var(--color-mark-subtext);
}

.gallery-container-content-info p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--color-text);
}

@media screen and (max-width:400px) {
  .gallery {
    width: 390px;
  }
  .gallery-container-image{
    height: 400px;
  }

}
