.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0rem;
}

.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: var(--color-light-bg);
}

.projectCardR {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: var(--color-light-bg);
}


.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image-container {
  width: 720px;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.image {
  width: 100%;
  height: auto;
  object-fit: none;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 10s ease-in-out;
}

.image:hover {
  cursor: grab;
  transform: translateY(-70%);
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.techStack,
.heading,
.info {
  margin: 1rem 0rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
}

.code,
.live {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 0.5rem;
}

.code-text,
.live-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--color-text);
  margin: 0rem 0.5rem;
}

.heading {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: var(--color-mark-subtext);
}

.info p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--color-text);
}

.techStack {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: var(--color-text);
}

.hr {
  width: 100%;
  border: 1px solid var(--color-mark-text);
}



@media screen and (max-width: 1040px) {
  .projectCard,
  .projectCardR {
    flex-direction: column;
    max-width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .image-container img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 400px) {
  .projectCard,
  .projectCardR {
    flex-direction: column;
    max-width: 360px;
  }
  .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .image-container img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }

  .image:hover {
    cursor: grab;
    transform: translateY(-50%);
  }
}